* {
    background-color: antiquewhite;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
    font-weight: 1000;
}


.li {
    font-size: 30px;    
}


.li.odd {
    background-color: rgb(255, 253, 144);    
    text-align: right;
}

.li.even {
    background-color: rgba(252, 164, 0, 0.418);    
    text-align: left;
}

h2 {
    font-size:  35px;
    text-align: center;    
}

ol {
    font-size: 20px;
}